body {
  background-color: #abcae8;
  color: black;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 40px;
  background-color: #94CC96;
  padding: 0 10px;
  margin-top: 0;
  text-align: center;
}
h2 {
  font-size: 30px;
}
strong {
  color:#37ab9d;
}
.yuji-hobby1 {
  width: 600px;
  height: 300px;
  padding: 0 50px;
}
.atsuko-hobby1 {
  width: 800px;
  padding: 0 50px;
}